%h1 #{@restaurant.name} menus
- @menus.each do |menu|
  %p= menu.name
  %ul
  - menu.dishes.each do |dish|
    %li= dish.name
    %li= dish.description
    %li= dish.price
    %li= link_to "Add #{dish.name} to cart", carts_path(:dish_id => dish, :restaurant_id => @restaurant.id)
    = flash[:notice]
