!!!
%html
  %head
    %title Slow Food
  %body
    %div
      = form_tag(rest_cat_path, method: 'get') do
        = label_tag(:category, 'Filter by category: ')
        = collection_select :category, :id, @rest_cats, :id, :name
        = submit_tag('Filter')
    %div
      %ul
        - @restaurants.each do |restaurant|
          %li= link_to (restaurant.name), restaurant_path(restaurant)
          %ul
            %li Address: #{restaurant.address}
            %li Email: #{restaurant.email}
            %li Phone: #{restaurant.phone}


    #map{ style: "width: 100%; height: 400px;" }
